.template1 {
  .banner {
    width: 100%;
    .top-banner {
      display:flex;
      justify-content: center;
      align-items: center;
      min-height: 64px;
      padding: 1rem;
      svg {
        width: 20px;
        height: 20px;
      }
      .banner-align {
        margin: auto;
      }
      @media all and (-ms-high-contrast:none) {
        display: inline;
      }
    }
    .body-banner {
      min-height: 193px;
      position: relative;
      text-align: center;
      margin: 1.5rem 1rem;
      padding: 0 1rem;
      svg {
        height: 48px;
        width: 48px;
        @include media-query('lg', 'min-width') {
          height: 64px;
          width: 64px;
        }
      }
      .icon {
        display: block;
        margin-right: 0;
        @include media-query('lg', 'min-width') {
          margin-right: 1rem;
        }
      }
      .headline {
        line-height: 28px;
        font-size: 1.25rem;
        font-weight: 600;
        @include media-query('md', 'min-width') {
          margin-top: auto;
          margin-bottom: auto;
          height: 100%;
        }
      }
      .banner-align {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: fit-content;
        flex-direction: column;
        @include media-query('lg', 'min-width') {
          flex-direction: row;
        }
      }
    }
    .flex {
      @include media-query('md', 'min-width') {
        margin: 0px 0.25rem;
      }
    }
    .icon {
      margin-right: 1rem;
      transform: matrix(1, 0, 0, 1, 0, 3);
    }
    .headline {
      font-size: 0.875rem;
      font-weight: bold;
      color: #303030;
      letter-spacing: 0.15px;
      line-height: 1.25rem;
      .cta-link, .cta-link a {
        font-weight: 100;
      }
      a {
        text-decoration: underline;
        font-size: inherit;
        letter-spacing: 0.15px;
      }
      @include media-query('md', 'min-width') {
        font-size: 1.125rem;
        line-height: 1.625rem;
      }
    }
    .inline-icon {
      position: relative;
    }
  }
  .end-of-line {
    font-weight: 100;
  }
  .inline {
    font-weight: inherit;
  }
}