.template1 {
  .subheader {
    p {
      margin: 0.5rem 0 1rem;
      @include media-query('md', 'min-width') {
        margin: 0.5rem 0 1rem;
      }
    }
  }
  .subdescription {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .number {
    font-size: 20px;
  }
}
